<nav class="our-navbar">
	<div class="nav-wrapper pink lighten-2">
		<a href="/" class="brand-logo center">Jobify</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger">
			<i class="material-icons">menu</i>
		</a>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li>
				<a
					class="tooltipped"
					data-position="bottom"
					data-tooltip="<%= currentUser.username %>"
				>
					<span class="user-values">Signed in as</span> <%= currentUser.name %>
					(Candidate)
				</a>
			</li>
		</ul>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/jobs/candidate">Received Jobs</a></li>
			<li><a href="/jobs/candidate">Accepted Jobs</a></li>
			<li><a href="/jobs/candidate">Rejected Jobs</a></li>
			<li><a href="/auth/logout">Logout</a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li>
		<a class="tooltipped" data-position="bottom" data-tooltip="<%= currentUser.username %>">
			<span class="user-values">Signed in as</span> <%= currentUser.name %>
		</a>
	</li>
	<li><a href="/jobs/candidate">Received Jobs</a></li>
	<li><a href="/jobs/candidate">Accepted Jobs</a></li>
	<li><a href="/jobs/candidate">Rejected Jobs</a></li>
	<li><a href="/auth/logout">Logout</a></li>
</ul>
