        </div>
        <footer class="page-footer pink lighten-2">
            <div class="footer-copyright">
              <div class="container">
              © 2021 Copyright Text
              </div>
            </div>
          </footer>  
</body>
</html>